/*-----Misas de la zona-----*/
.tabla-misas-zona{
    font-size: 12px;
}
        
.tabla-misas-zona thead th#durante-el-año{
    margin-right: 15px;
}
        
.tabla-misas-zona thead th#vacaciones{
    margin-left: 15px;
}

@media(max-width: 991px){
    .modal-misas-zona{
        font-size: 8px;
    }
}